body {
    margin: 0;
    padding: 0;
  }

  * {
    font-family: "Audiowide", sans-serif;
  }
  
  #bat {
    background-image: url('./bg/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
  }

  .basic_info_{
    width: 50%;
  }
  
  #inFo {
    width: 100%;
    margin: auto;
    max-width: 400px;
    /* border: 1px solid red; */
    height: 450px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  #head {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  #citY {
    width: calc(100% - 22px);
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  #Btn{
    border-radius: 5px;
    padding: 5px;
    transform-origin: center;
    transition: 0.3s ease-in-out;
    background: #00ffff;
  }


  #Btn:hover {
    background-color: #000;
    color: #00ffff;
    cursor: pointer;
    transform: translateX(2px) translateY(2px) scale(1.05);
    transform-origin: center;
    transition: 0.3s ease-in-out;
  }
  
  #fir, #sec, #thi, #for, #six {
    margin: 0.5rem 0;
    color: #555;
  }
  
  .mapouter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .gmap_canvas {
    width: 100%;
    height: 100vh !important;
    /* border-radius: 15px; */
    overflow: hidden;
    margin: none;
    /* margin: auto; */
    /* border: 1px solid yellow; */
  }

  #gmap_canvas{
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    outline: none !important;
    /* border-radius: 15px; */
    /* border: 1px solid red; */
  }


   @media (max-width: 780px) {
    #bat {
      flex-direction: column;
      align-items: stretch;
      padding-top: 1rem;
      overflow: scroll;
      height: 100%;
    }

    .basic_info_{
      width: 100%;
    }
  
    #inFo {
      width: 60%;
      margin: auto;
      max-width: none;
    }

    .mapouter{
      width: 100%;
    }
  
    .gmap_canvas {
      height: 500px !important;
      width: 100%; 
      margin: auto;
      /* border: 1px solid red; */
      overflow: auto
    }
  }
  
  @media (max-width: 480px) {
    #head {
      font-size: 1.25rem;
    }
  
    #citY {
      font-size: 0.875rem;
    }

    #inFo {
      width: 90%;
      margin: auto;
      max-width: none;
      height: 350px;
    }
  
    #Btn {
      font-size: 0.875rem;
    }
  
    #fir, #sec, #thi, #for, #six {
      font-size: 0.875rem;
    }
  
    .gmap_canvas {
      height: 300px; 
    }
  }
   